body
	background-color:black
	color:white
	font-size:15px
	padding:10px
	font-family:"Courier New"
.commandLine
	padding-top:4px
.host, .user
	color:lightgreen
.path
	color:blue
.cursor
	background-color:grey
