body {
  background-color: #000;
  color: #fff;
  font-size: 15px;
  padding: 10px;
  font-family: "Courier New";
}
.commandLine {
  padding-top: 4px;
}
.host,
.user {
  color: #90ee90;
}
.path {
  color: #00f;
}
.cursor {
  background-color: #808080;
}
